* {
    box-sizing:  border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
@mixin conainers(){
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 200%; 
    left: 0; 
    bottom: 0;
    right: 0;
}
.container {
    @include conainers();
    background-image: url(/imagines/ice.jpg);
    top: 0; 
    .header {
      background-color: rgb(247, 247, 247);
      padding:  20px 40px;
      position: relative;
      z-index: 1;
        h2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          letter-spacing: .5px;
        }
    }
    .rotate{
        position: absolute;
        transition: all .1s ;
        z-index: 0;
        img{
            transform-origin:top left; 
            position: absolute;
            transition: all .1s ;
            z-index: 0;
            opacity: 1;
            width: 40vw;
        }
    }
    .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    color: white;
        .form-control{
        padding-bottom: 10px;
        margin-top: 10px;
        position: relative;
        width: 80%;
            label {
                display: inline-block;
                margin-bottom: 5px;
                letter-spacing: .5px;
            }
            input {
                border: 2px solid black;
                margin-bottom: 5px;
                display: block;
                width: 100%;
                padding: 10px;
                &:focus{
                border: 2px solid blue;
                outline: none;
                 box-shadow: 2px 2px 2px blue;
                }
            }
            i{
                position: absolute;
                top: 40px;
                right: 10px;
                visibility: hidden;
            }
             small {
                visibility: hidden;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }  
        .form-control.success input{
            border:2px solid green
        };
        .form-control.error input{
            border:2px solid red
        };
       
        .form-control.success i.fa-check {
            color: green;
            visibility: visible;
        }
        .form-control.error i.fa-exclamation{
            color: red;
            visibility: visible;
        }
        .form-control.error small {
            color: red;
            visibility: visible;
        }
        .btn {
            padding-top: 10px;
            button {
                display: block;
                background-color:  black;
                color: white;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                margin:0 auto;
                margin-top: 5px;
                // z-index: 1;
                outline: none;
                letter-spacing: .5px;
                &:hover{
                    box-shadow: 2px 2px 5px blue;
                    color:blue;
                    border: 2px solid blue;
                }
            } 
        } 
    }  
}
.containerTwo {
  @include conainers();
    background-image: url(/imagines/sea.jpg);
    top: 200%; 
    img{
        height: 100%;
        width: 100%
        }
    }  
@media (orientation: portrait) and (min-width:768px){

    body {
        height: 100vh;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
    };
    .bigContainer{
        width: 50vw;
        height: 65vh;
        position: absolute;
        top:50%;
        left:50%;
              transform: translate(-50%,-50%);
              overflow: hidden;
        border-radius: 5px;
        box-shadow:  0 2px 5px blue;
    }

    @mixin containerPortrait(){
         width: 50vw;
        height: 65vh;
        position: absolute;
    }
    .container {
        @include containerPortrait()
        top:100%;
        left:50%;
        transform: translate(-50%,-50%);
          z-index: 1;
        box-shadow: 2px 2px 51px 34px #023f5c;
            .form{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            height:100%;
            padding-bottom: 40px;
            .form-control{
                padding-bottom: 20px;
                width: 40%;
                margin: 0 10px;
            }
            .btn{
                width: 30%;
            }
        }
    }
    .containerTwo {
    width: 50vw;
    height: 65vh;
    position: absolute;
    top: 200%; 
    left: 0; 
    bottom: 0;
    }
}
@media (orientation: portrait) and (min-width:1024px){
    .container{
        .form {
            padding-bottom: 80px;
                .btn{
                    width: 30%;
                }
        }
    }
}
@media (orientation: landscape) {
    .container{ 
        z-index: 1;
        box-shadow: 2px 2px 51px 34px #023f5c;
        .rotate{
            img{
                width: 20vw;
            }
        }
        .form {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
            .form-control{
            width: 40%;
            margin: 0 12px;
            }
            .btn{
            width: 30%;
            }
        }
    }
            .containerTwo{
            img{
            height: 100%;
            width: 100%
            }
        }
}
@media(orientation: landscape) and (min-width:1024px){
    body {
        height:100vh;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bigContainer{
        width: 50vw;
        height: 65vh;
        position: absolute;
        top:50%;
        left:50%;
              transform: translate(-50%,-50%);
              overflow: hidden;
        border-radius: 5px;
        box-shadow:  0 2px 5px blue;
    }
    .container {
        width: 50vw;
        height: 65vh;
        position: absolute;
        top:100%;
        left:50%;
        transform: translate(-50%,-50%);
            .form{
            height:75%;
            .btn{
                button{
                    width: 75%;
                }
            }
        }
    }
    .containerTwo{
        width: 50vw;
        height: 65vh;
        position: absolute;
        top:300%;
        left:50%;
        transform: translate(-50%,-50%);  
        }
}